<template>
  <el-header class="bg-white flex items-center justify-between h-10 shadow z-10">
    <div @click="setCollapse" class="flex items-center">
      <el-icon v-if="isCollapse" class="cursor-pointer" color="#555555" :size="22"><expand /></el-icon>
      <el-icon v-else class="cursor-pointer" color="#555555" :size="22"><fold /></el-icon>
    </div>
    <div class="flex items-center space-x-2">
      <h1 class="mr-4">
        {{ user.name }}
      </h1>
      <el-tag @click="logout" class="cursor-pointer" type="danger">Logout</el-tag>
    </div>
  </el-header>
</template>

<script setup>
import { Expand, Fold } from '@element-plus/icons-vue';
import { computed } from 'vue';
import { useRouter } from 'vue-router';
import { useStore } from 'vuex';
import Cookies from 'js-cookie';

const store = useStore();
const router = useRouter();
const isCollapse = computed(() => store.getters.isCollapse);
const setCollapse = () => {
  store.commit('setCollapse');
};
const user = computed(() => store.getters.user);

function logout() {
  Cookies.remove('ACCESS');
  localStorage.clear();
  store.commit('setLogout');
  if (!Cookies.get('ACCESS')) {
    return router.replace('/login');
  }
}
</script>

<style lang="scss"></style>
