<template>
  <el-scrollbar>
    <el-menu
      :background-color="scssConvert.primary"
      :text-color="scssConvert.primaryShade"
      :collapse="isCollapse"
      :default-active="fullPath"
      :active-text-color="scssConvert.primaryContrast"
      class="el-menu-vertical"
    >
      <!-- <ItemMenu @click="onClickMenu" v-for="route in routeList" :key="route.MENU_HEADER_PATH" :item="route" :path="route.MENU_HEADER_PATH"></ItemMenu> -->
      <ItemMenu @click="clickMenu" v-for="route in routeList" :key="route.MENU_HEADER_PATH" :item="route"></ItemMenu>
    </el-menu>
  </el-scrollbar>
</template>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';
import ItemMenu from './ItemMenu.vue';
import { useRouter, useRoute } from 'vue-router';
import variablesJs from '../../styles/variablesJs.scss';
import { dillScssExportToJson } from '../../helper/utils';

const scssConvert = dillScssExportToJson(variablesJs);
const store = useStore();
const router = useRouter();
const route = useRoute();
const isCollapse = computed(() => store.getters.isCollapse);
const fullPath = computed(() => route.fullPath);
const onClickMenu = (e) => router.push(e.index);
const routeList = computed(() => store.getters.leftMenu);
const clickMenu = (e) => {
  router.push(e.index);
};
</script>

<style lang="scss">
.el-menu-vertical:not(.el-menu--collapse) {
  width: $sideMenuWidth;
}
.el-menu {
  border: 0px !important;
}
</style>
