@tailwind base;
@tailwind components;
@tailwind utilities;


/** Global base style **/
@layer base {
  * {
    word-break: break-word !important;
  }

  html {
    scroll-behavior: smooth;
  }

  button {
    text-transform: capitalize;
    letter-spacing: 1px;
  }

}
