//define color
$primary: #192a56;
$primaryShade: #8aa4ff;
$primaryContrast: #ffffff;
$secondary: #142245;
$dark: #000000;

//define size
$sideMenuWidth: 220px;

/** Global custom with scss **/
/** table **/
.table-header {
  background-color: #f3f4f6 !important;
  font-weight: 600;
  color: $dark;
  border-color: #00000010 !important;
}
.table-fixed-icon {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  .el-icon {
    cursor: pointer;
  }
}
/** Element plus override with scss **/
/** el-table **/
.el-table .cell {
  white-space: pre !important;
}

/** el-dialog **/
.el-dialog__body {
  padding-top: 5px;
  padding-bottom: 5px;
}
.el-table .el-table__cell {
  padding: 6px 0;
  letter-spacing: 0.5px;
  font-size: 13px;
}
.el-input.is-disabled .el-input__inner {
  color: #999999;
}
//https://github.com/vitejs/vite/issues/1279

/** el-from **/
.form-wrap {
  // background-color: #E5E7EB;
  border-radius: 5px;
}
.form-2-section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px;
}
.desc {
  width: 95%;
  margin: 5px auto;
}

.ql-snow .ql-tooltip {
  z-index: 10;
  white-space: nowrap;
  left: 0 !important;
}
.ql-editor {
  min-height: 300px;
}

@media only screen and (max-width: 1279px) {
  .form-2-section {
    grid-auto-flow: row;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 5px;
  }
  .desc {
    width: 100%;
  }
}
