<template>
  <div class="flex justify-center space-y-8 py-4">
    <div class="text-center">
      <h1 class="text-2xl text-slate-200">404</h1>
      <DocumentDelete class="text-slate-200" />
      <h1 class="text-slate-300">PAGE NOT FOUND</h1>
    </div>
  </div>
</template>
<script setup>
import { DocumentDelete } from '@element-plus/icons-vue';
</script>
