<template>
  <el-table-column label="Client Name" prop="CLIENT_NAME" width="150"></el-table-column>
  <el-table-column label="Total" width="80" prop="TOTAL"></el-table-column>
  <el-table-column label="Client Code" width="200" prop="CLIENT_CODE"></el-table-column>
  <el-table-column label="Client Is Has Policy" width="150" prop="CLIENT_ISHAS_POLICY">
    <template #default="{ row }">
      {{ row.CLIENT_ISHAS_POLICY ? 'YES' : 'NO' }}
    </template>
  </el-table-column>
  <el-table-column label="Client Member Policy No" width="200" prop="CLIENT_MEMBER_POLICY_NO">
    <template #default="{ row }">
      {{ row.CLIENT_MEMBER_POLICY_NO === '' ? 'NO DATA' : row.CLIENT_MEMBER_POLICY_NO }}
    </template>
  </el-table-column>
  <el-table-column label="Client Policy Insurance" prop="CLIENT_POLICY_INSURANCE" width="200">
    <template #default="{ row }"> {{ row.CLIENT_POLICY_INSURANCE === '' ? 'NO DATA' : row.CLIENT_POLICY_INSURANCE }} </template>
  </el-table-column>
</template>

<script setup>
// import * as logic from '../../views/dashboard/dashboard-page';
// const [viewData, viewDialog, tipe, onViewDialog] = logic.createView();
// const props = defineProps({
//   listConsult: {
//     type: Object,
//     required: true,
//   },
// });
</script>
