<template>
  <div class="w-full rounded overflow-hidden border">
    <div class="bg-blue-400 h-[80px] relative">
      <div class="w-full flex items-center justify-center">
        <div class="bg-white h-[100px] aspect-square rounded-full border-4 border-slate-100 absolute top-1/2 overflow-hidden">
          <img :src="props.detail.DOCTOR_PHOTO" alt="" srcset="" class="w-full h-full object-cover" />
        </div>
      </div>
    </div>
    <div class="bg-slate-50 w-full p-3 pt-[70px] text-center font-semibold text-blue-500 text-sm">
      <div class="w-full flex gap-2 items-center justify-center">
        <h1>
          {{ props.detail.DOCTOR_NAME }}
        </h1>
        <div class="w-[10px] aspect-square rounded-full" :class="props.detail.DOCTOR_ISONLINE ? 'bg-green-500' : 'bg-red-500'"></div>
      </div>
      <div class="detail h-full mt-3">
        <div class="flex p-[2px]">
          <div class="w-[120px] text-left font-semibold text-xs text-primary">Kategori</div>
          <div class="right flex-1 text-slate-600 text-xs flex">
            {{ props.detail.DOCTOR_CATEGORY_NAME }}
          </div>
        </div>
        <div class="flex p-[2px]">
          <div class="w-[120px] text-left font-semibold text-xs text-primary">Batas Konsultasi</div>
          <div class="right flex-1 text-slate-600 text-xs flex">
            {{ props.detail.DOCTOR_LIMIT_CONSULTATION }}
          </div>
        </div>
        <!-- <div class="flex p-[2px]">
          <div class="w-[120px] text-left font-semibold text-xs text-primary">Hari Konsultasi</div>
          <div class="right flex-1 text-slate-600 text-xs flex">
            {{ props.detail.DOCTOR_CONSULTATION_DAY_FROM }}
          </div>
        </div> -->
        <div class="flex p-[2px]">
          <div class="w-[120px] text-left font-semibold text-xs text-primary">No Telepon</div>
          <div class="right flex-1 text-slate-600 text-xs flex">
            {{ props.detail.DOCTOR_PHONE_NO }}
          </div>
        </div>
        <div class="flex p-[2px]">
          <div class="w-[120px] text-left font-semibold text-xs text-primary">Email</div>
          <div class="right flex-1 text-slate-600 text-xs flex">
            {{ props.detail.DOCTOR_EMAIL }}
          </div>
        </div>
        <div class="flex p-[2px]">
          <div class="w-[120px] text-left font-semibold text-xs text-primary">Konsultasi Periodik</div>
          <div class="right flex-1 text-blue-500 text-sm flex">
            {{ props.detail.TOTAL_CONSULTATION_TODAY }}
          </div>
        </div>
        <div class="flex p-[2px]">
          <div class="w-[120px] text-left font-semibold text-xs text-primary">Konsultasi Bulan Ini</div>
          <div class="right flex-1 text-blue-500 text-sm flex">
            {{ props.detail.TOTAL_CONSULTATION_CURRENT_MONTH }}
          </div>
        </div>
        <div class="flex p-[2px]">
          <div class="w-[120px] text-left font-semibold text-xs text-primary">Status Terima Konsultasi</div>
          <div class="right flex-1 text-slate-600 text-xs flex">
            {{ props.detail.DOCTOR_ISACCEPT_CONSULTATION ? 'Ya' : 'Tidak' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
const props = defineProps({
  detail: {
    type: Object,
    required: true,
  },
});
</script>

<style scoped>
.min-width {
  min-width: 200px;
}
</style>
