<template>
  <!-- <el-input ref="inputRef" :modelValue="formattedValue" /> -->
  <el-input ref="inputRef" v-model="formattedValue" />
</template>

<script>
import { useCurrencyInput } from 'vue-currency-input';
import { watch, computed } from 'vue';
export default {
  name: 'ElCurrencyInput',
  props: {
    modelValue: Number,
    // options: Object,
  },
  setup(props) {
    const options = { currency: 'IDR', locale: 'id', useGrouping: true };
    const modelV = computed(() => props.modelValue);
    watch(modelV, (value) => {
      if (!value) {
        inputRef.value.clear();
      }
    });
    // const { inputRef, formattedValue } = useCurrencyInput(props.options);
    const { inputRef, formattedValue } = useCurrencyInput(options);
    return { inputRef, formattedValue };
  },
};
</script>
