<template>
  <div class="w-full flex flex-wrap bg-red-500 rounded border-[1px] border-slate-200 p-2" style="background: #f9f9f9">
    <div class="w-full md:flex-1">
      <el-col class="w-[90%] lg:w-[50%]">
        <!-- Left Side -->
        <el-form size="default">
          <el-form-item :label="label" class="flex flex-wrap w-full">
            <el-select v-model="value" :placeholder="placeholder" filterable class="w-full">
              <el-option label="All Items" value="" class="font-bold" />
              <slot name="option-data"></slot>
            </el-select>
          </el-form-item>
        </el-form>
      </el-col>
      <el-col :span="10" class="w-[90%] lg:w-[50%] px-4">
        <!-- Right Side -->
        <slot name="right-data"></slot>
      </el-col>
    </div>

    <div class="flex justify-end items-start w-[100px]">
      <el-button type="primary" @click="onSearch(value)">Cari</el-button>
    </div>
  </div>
</template>

<script setup>
import { ref, watch, computed } from 'vue';
import { useRoute } from 'vue-router';
const route = useRoute();

const idClient = computed(() => route.query.CLIENT_ID);
const idCatDoc = computed(() => route.query.DOCTOR_CATEGORY_ID);

let value;
if (idClient.value != null) {
  value = ref(idClient.value);
} else {
  value = ref(null);
}
if (idCatDoc.value != null) {
  value = ref(idCatDoc.value);
} else {
  value = ref(null);
}

const props = defineProps({
  placeholder: {
    type: String,
    required: true,
  },
  label: {
    type: String,
    required: true,
  },
});
const emit = defineEmits(['filter']);

const onSearch = (val) => {
  emit('filter', val);
};
</script>
