<template>
  <div class="paginate" v-if="total">
    <el-pagination
      layout="prev, pager, next"
      :total="total"
      :page-size="pageSize"
      @current-change="changePage"
      :current-page="currentPage"
      background
      :hide-on-single-page="false"
    ></el-pagination>
  </div>
  <div v-if="total" class="text-right paginate-info">
    Showing {{ (currentPage - 1) * pageSize + 1 }} until {{ currentPage * pageSize > total ? total : currentPage * pageSize }} from {{ total }} ({{
      Math.ceil(total / pageSize)
    }}
    {{ Math.ceil(total / pageSize) < 2 ? 'Page' : 'Pages'}})
  </div>
</template>

<script setup>
const clientId = defineProps(['total', 'pageSize', 'currentPage']);
function changePage(current) {
  emit('current-change', current);
}
const emit = defineEmits(['current-change']);
</script>

<style lang="scss" scoped>
.paginate {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.paginate-info {
  font-size: 14px;
}
</style>
