<template>
  <div class="flex justify-between mt-3">
    <div class="w-60">
      <el-form :rules="rules" :model="search">
        <el-form-item prop="search">
          <el-input placeholder="Search" :prefix-icon="Search" size="small" clearable v-model="search.search"></el-input>
        </el-form-item>
      </el-form>
    </div>
    <el-select v-model="record" placeholder="Records per page" size="small">
      <el-option label="10" value="10"></el-option>
      <el-option label="25" value="25"></el-option>
      <el-option label="50" value="50"></el-option>
      <el-option label="100" value="100"></el-option>
    </el-select>
  </div>
</template>

<script setup>
import { ref, watch, computed } from 'vue';
import { useRoute } from 'vue-router';
import { Search } from '@element-plus/icons-vue';

const route = useRoute();
const defaultRecord = computed(() => (route.query.pageSize ? route.query.pageSize : import.meta.env.VITE_PAGE_SIZE));
const record = ref(defaultRecord.value);
const search = ref({ search: null });
const rules = {
  search: [
    {
      min: 2,
      message: 'Min 2 karakter',
      trigger: ['blur', 'change'],
    },
  ],
};

const searchValue = computed(() => search.value.search);

watch(record, (value) => {
  emit('paginate', value);
});

watch(searchValue, (value) => {
  if (value.length >= rules.search[0].min || value.length == 0) {
    emit('search', value);
  }
});

const emit = defineEmits(['search', 'paginate']);
</script>
