<template>
  <el-table-column :fixed="isFixed" :min-width="minWidth">
    <template #header>
      <div class="text-center">Aksi</div>
    </template>
    <template #default="{ row }">
      <div class="table-fixed-icon">
        <el-tooltip v-if="showEdit" class="box-item" popper-class="custom-popper" effect="dark" content="Edit" placement="top" :enterable="false">
          <el-icon class="item" @click="handleEdit(row)"><edit /></el-icon>
        </el-tooltip>
        <el-tooltip v-if="showView" class="box-item" popper-class="custom-popper" effect="dark" content="View" placement="top" :enterable="false">
          <el-icon class="item" @click="handleView(row)"><zoom-in /></el-icon>
        </el-tooltip>
        <el-tooltip
          v-if="showEye"
          class="box-item"
          popper-class="custom-popper"
          effect="dark"
          content="See Detail"
          placement="top"
          :enterable="false"
        >
          <el-icon class="item" @click="handleSee(row)"><View /></el-icon>
        </el-tooltip>
        <el-tooltip
          v-if="newTab"
          class="box-item"
          popper-class="custom-popper"
          effect="dark"
          content="Member Info"
          placement="top"
          :enterable="false"
        >
          <a :href="url" @click="handleNewTab(row)">
            <el-icon class="item"><Document /></el-icon>
          </a>
        </el-tooltip>
        <el-tooltip
          v-if="showHistory"
          class="box-item"
          popper-class="custom-popper"
          effect="dark"
          content="History"
          placement="top"
          :enterable="false"
        >
          <el-icon class="item" @click="handleHistory(row)"><refresh-left /></el-icon>
        </el-tooltip>
        <el-tooltip
          v-if="showBarcode"
          class="box-item"
          popper-class="custom-popper"
          effect="dark"
          content="Barcode"
          placement="top"
          :enterable="false"
        >
          <el-icon class="item" @click="handleBarcode(row)"><div v-html="barcode" /></el-icon>
        </el-tooltip>
        <el-popconfirm
          v-if="showDelete"
          confirm-button-text="Yes"
          cancel-button-text="No"
          :icon="InfoFilled"
          icon-color="red"
          :title="createDeleteTitle(row)"
          @confirm="handleDelete(row)"
        >
          <template #reference>
            <el-icon class="item">
              <el-tooltip class="box-item" popper-class="custom-popper" effect="dark" content="Delete" placement="top" :enterable="false">
                <delete />
              </el-tooltip>
            </el-icon>
          </template>
        </el-popconfirm>
        <el-tooltip
          v-if="showTerm"
          class="box-item"
          popper-class="costum-popper"
          effect="dark"
          content="Terminate"
          placement="top"
          :enterable="false"
        >
          <el-icon class="item" @click="handleTerm(row)"><Close /></el-icon>
        </el-tooltip>
      </div>
    </template>
  </el-table-column>
</template>

<script setup>
import { Edit, Delete, ZoomIn, RefreshLeft, InfoFilled, View, Close, Document } from '@element-plus/icons-vue';
import { useStore } from 'vuex';
import { computed, toRaw, ref } from 'vue';
import { barcode } from '../../helper/svg';

const store = useStore();
const isFixed = computed(() => (store.getters.isOnMobile ? false : 'right'));
const emit = defineEmits(['click-edit', 'click-view', 'click-history', 'click-barcode', 'click-delete', 'click-see', 'click-term', 'new-tab']);
const props = defineProps({
  showEdit: {
    type: Boolean,
    default: false,
  },
  showView: {
    type: Boolean,
    default: false,
  },
  showHistory: {
    type: Boolean,
    default: false,
  },
  showBarcode: {
    type: Boolean,
    default: false,
  },
  showDelete: {
    type: Boolean,
    default: false,
  },
  name: {
    type: String,
    default: '',
  },
  showEye: {
    type: Boolean,
    default: false,
  },
  showTerm: {
    type: Boolean,
    default: false,
  },
  newTab: {
    type: Boolean,
    default: false,
  },
  url: {
    type: String,
    default: '',
  },
});
const minWidth = ref(null);

const handleEdit = (row) => emit('click-edit', toRaw(row));
const handleView = (row) => emit('click-view', toRaw(row));
const handleHistory = (row) => emit('click-history', toRaw(row));
const handleBarcode = (row) => emit('click-barcode', toRaw(row));
const handleDelete = (row) => emit('click-delete', toRaw(row));
const handleSee = (row) => emit('click-see', toRaw(row));
const handleTerm = (row) => emit('click-term', toRaw(row));
const handleNewTab = (row) => emit('new-tab', toRaw(row));

//get how many menus are active and calculate the minimum width
(() => {
  const showList = toRaw(props);

  let counter = 0;
  for (const key in showList) {
    if (showList[key]) {
      counter++;
    }
  }
  if (counter < 2) {
    minWidth.value = 70;
  } else if (counter < 3) {
    minWidth.value = 80;
  } else if (counter < 4) {
    minWidth.value = 90;
  } else if (counter < 5) {
    minWidth.value = 100;
  } else {
    minWidth.value = 120;
  }
})();

function createDeleteTitle(row) {
  if (props.name) {
    return `Are you sure to delete ${row[props.name]}`;
  }
  return `Are you sure to delete this ?`;
}
</script>

<style lang="scss">
.custom-popper {
  padding: 5px 10px;
  font-size: 0.7rem;
}
</style>
