<template>
  <div class="block md:flex justify-between my-1 border-b pb-2 text-center space-y-3 md:space-y-0">
    <div class="flex items-center">
      <button v-if="showBackButton" class="mr-2 text-sm border-r border-sky-900" @click="onBack">
        <span class="px-2 font-bold text-sky-900"
          ><el-icon><CaretLeft /></el-icon> BACK</span
        >
      </button>
      <h1 class="tracking-wide capitalize">{{ title ? title : currentMenuName }}</h1>
    </div>
    <slot name="btn1"></slot>
    <el-button v-if="showButton" type="primary" @click="() => emit('click')">{{ btnText }}</el-button>
    <el-button v-if="showForm" :type="showed ? 'danger' : 'primary'" @click="() => emit('click')">{{ showed ? 'Cancel' : btnText }}</el-button>
    <el-tag v-if="showTag" class="xl:ml-2" type="info">{{ tagText }}</el-tag>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import { CaretLeft } from '@element-plus/icons-vue';
const store = useStore();
const router = useRouter();
const currentMenuName = computed(() => store.getters.currentMenuName);
defineProps({
  title: {
    type: String,
    default: '',
  },
  btnText: {
    type: String,
    default: 'Tambah',
  },
  showButton: {
    type: Boolean,
    default: false,
  },
  showTag: {
    type: Boolean,
    default: false,
  },
  tagText: {
    type: String,
    default: '',
  },
  showBackButton: {
    type: Boolean,
    default: false,
  },
  showForm: {
    type: Boolean,
    default: false,
  },
  showed: {
    type: Boolean,
    default: false,
  },
});
const emit = defineEmits(['click']);

function onBack() {
  router.back();
}
</script>
