<template>
  <TitleDashboard title="Lalamove Order" />
  <section class="space-y-4 pt-2">
    <div>
      <el-row>
        <el-col :xl="4" :lg="3" :md="0"></el-col>
        <el-col :xl="16" :lg="18" :md="24">
          <div class="flex flex-col justify-end" v-if="orderData.orderId">
            <iframe :src="orderData.shareLink" class="w-full h-[400px]"></iframe>
            <el-button type="danger" @click="onDeleteOrder">Cancel Order</el-button>
          </div>
          <section class="w-full">
            <el-form :model="quotData" ref="quotForm" label-position="left" label-width="150px">
              <el-form-item label="The Order is schedule" prop="IS_SCHEDULED">
                <el-checkbox v-model="quotData.IS_SCHEDULED" label="Yes" />
              </el-form-item>
              <el-form-item label="Schedule at" prop="scheduleAt" v-if="quotData.IS_SCHEDULED">
                <el-date-picker
                  v-model="quotData.scheduleAt"
                  disabled
                  type="datetime"
                  format="YYYY/MM/DD hh:mm:ss"
                  value-format="YYYY-MM-DD hh:mm:ss"
                ></el-date-picker>
              </el-form-item>
              <el-form-item label="Lokasi">
                <el-select v-model="quotData.ID" filterable clearable class="w-full" placeholder="Lokasi">
                  <el-option v-for="(val, idx) in city.cities" :key="idx" :label="val.name" :value="val.id"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Service type" prop="SERVICE_TYPE">
                <el-select v-model="quotData.SERVICE_TYPE" placeholder="Pilih Layanan" filterable clearable class="w-full">
                  <div v-for="(val, idx) in city.cities" :key="idx">
                    <template v-if="val.id == quotData.ID">
                      <el-option v-for="(child, idxChild) in val.services" :label="child.key" :value="child.key" :key="idxChild"></el-option>
                    </template>
                  </div>
                </el-select>
              </el-form-item>
              <el-form-item label="Keterangan" prop="SPECIAL_REQUEST">
                <div v-for="(val, idx) in city.cities" :key="idx" class="w-full">
                  <template v-if="val.id == quotData.ID">
                    <div v-for="(valChild, idxChild) in val.services" :key="idxChild">
                      <template v-if="valChild.key == quotData.SERVICE_TYPE">
                        <el-select v-model="quotData.SPECIAL_REQUEST" filterable clearable multiple class="w-full" placeholder="Special Request">
                          <el-option
                            v-for="(subChild, idxSubChild) in valChild.specialRequests"
                            :key="idxSubChild"
                            :label="subChild.description"
                            :value="subChild.name"
                          ></el-option>
                        </el-select>
                        <el-input type="textarea" :model-value="valChild.description" autosize></el-input>
                      </template>
                    </div>
                  </template>
                </div>
              </el-form-item>
              <el-row>
                <el-col :xl="11" :lg="11" :md="24">
                  <el-form-item label="Pengiriman" prop="SENDER_ADDRESS">
                    <el-input v-model="quotData.SENDER_ADDRESS" type="textarea" placeholder="alamat Pengiriman"></el-input>
                  </el-form-item>
                  <el-form-item label="Long" prop="SENDER_ADDRESS_LONG">
                    <el-input v-model="quotData.SENDER_ADDRESS_LONG" placeholder="longitude"></el-input>
                  </el-form-item>
                  <el-form-item label="Lat" prop="SENDER_ADDRESS_LAT">
                    <el-input v-model="quotData.SENDER_ADDRESS_LAT" placeholder="latitude"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :xl="2" :lg="2" :md="0"></el-col>
                <el-col :xl="11" :lg="11" :md="24">
                  <el-form-item label="Penerima" prop="RECEIVER_ADDRESS">
                    <el-input v-model="quotData.RECEIVER_ADDRESS" type="textarea" placeholder="alamat Penerima"></el-input>
                  </el-form-item>
                  <el-form-item label="Long" prop="RECEIVER_ADDRESS_LONG">
                    <el-input v-model="quotData.RECEIVER_ADDRESS_LONG" placeholder="longitude"></el-input>
                  </el-form-item>
                  <el-form-item label="Lat" prop="RECEIVER_ADDRESS_LAT">
                    <el-input v-model="quotData.RECEIVER_ADDRESS_LAT" placeholder="latitude"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
            <div class="flex justify-end">
              <el-button type="primary" @click="onRequestQuotation" :loading="loading">Get Quotation</el-button>
            </div>
          </section>
        </el-col>
        <el-col :xl="4" :lg="3" :md="0"></el-col>
      </el-row>
    </div>
    <div>
      <el-row v-if="addDialog">
        <el-col :xl="4" :lg="3" :md="0"></el-col>
        <el-col :xl="16" :lg="18" :md="24">
          <section class="w-full">
            <el-form :model="addData" ref="addForm" label-position="left" label-width="150px">
              <el-form-item label="Penawaran" prop="QUOTATION_ID">
                <el-input v-model="addData.QUOTATION_ID"></el-input>
              </el-form-item>
              <el-form-item label="Penawaran" prop="HARGA">
                <el-input v-model="addData.HARGA"></el-input>
              </el-form-item>
              <el-form-item label="Sender Name" prop="SENDER_NAME">
                <el-input v-model="addData.SENDER_NAME"></el-input>
              </el-form-item>
              <el-form-item label="Sender Phone No" prop="SENDER_PHONE_NO">
                <el-input v-model="addData.SENDER_PHONE_NO"></el-input>
              </el-form-item>
              <el-form-item label="Receiver Name" prop="RECEIVER_NAME">
                <el-input v-model="addData.RECEIVER_NAME"></el-input>
              </el-form-item>
              <el-form-item label="Receiver Phone No" prop="RECEIVER_PHONE_NO">
                <el-input v-model="addData.RECEIVER_PHONE_NO"></el-input>
              </el-form-item>
              <el-form-item label="Proof of Delivery" prop="POD">
                <el-checkbox v-model="addData.POD" label="POD"></el-checkbox>
              </el-form-item>
              <el-form-item label="SMS" prop="SMS">
                <el-checkbox v-model="addData.SMS" label="SMS"></el-checkbox>
              </el-form-item>
              <el-form-item label="Partner" prop="PARTNER_NAME">
                <el-input v-model="addData.PARTNER_NAME"></el-input>
              </el-form-item>
              <el-form-item label="Pharmacy Order ID" prop="ORDER_ID">
                <el-input v-model="addData.ORDER_ID"></el-input>
              </el-form-item>
              <el-form-item label="Pharmacy" prop="PHARMACY_NAME">
                <el-input v-model="addData.PHARMACY_NAME"></el-input>
              </el-form-item>
            </el-form>
            <div class="flex justify-end">
              <el-button type="primary" @click="onRequestOrder">Order</el-button>
            </div>
          </section>
        </el-col>
        <el-col :xl="4" :lg="3" :md="0"></el-col>
      </el-row>
    </div>
  </section>
</template>

<script setup>
import TitleDashboard from '../../components/base/TitleDashboard.vue';
import useAddOne from '../../hooks/add-one';
import useGet from '../../hooks/get';
import useDelete from '../../hooks/delete-one';

import { ref } from 'vue';

import { useRoute, useRouter } from 'vue-router';

import * as api from '../../api/order.api';
import * as apiOrderWithSDKClient from '../../api/quotation-v2.api';
import { isFormValid } from '../../helper/utils';

const quotData = ref({});
const quotForm = ref(null);

const orderData = ref({});

const route = useRoute();
const router = useRouter();

const [city, getCity, loadingCity] = useGet();
const [data, getData, loading] = useGet();
const { addData, addForm, addDialog, saveAdd, cancelAdd } = useAddOne();
const { deleteData } = useDelete();

function pad(num, size = 2) {
  num = num.toString();
  while (num.length < size) num = '0' + num;
  return num;
}

function onDeleteOrder() {
  deleteData(
    () => {
      firstLoad();
      orderData.value = {};
    },
    api.orderCancel,
    orderData.value.orderId,
  );
}

async function onRequestQuotation() {
  const date = new Date();
  const datePayload = `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())} ${pad(date.getHours())}:${pad(
    date.getMinutes(),
  )}:${pad(date.getSeconds())}`;
  const dateInit = new Date(datePayload);
  dateInit.setMinutes(dateInit.getMinutes() + 5);
  quotData.value.language = 'id_ID';
  if (quotData.value.IS_SCHEDULED) {
    quotData.value.scheduleAt = dateInit.toISOString();
  }
  if (!(await isFormValid(quotForm.value))) {
    return messageInfo('Tolong lengkapi pengisian');
  }
  getData(
    api.requestQuotation,
    quotData.value,
    (v) => {
      addData.value.QUOTATION_ID = v.quotationId;
      addData.value.SENDER_STOP_ID = v?.stops[0]?.stopId;
      addData.value.SENDER_NAME = 'anwiya';
      addData.value.SENDER_PHONE_NO = '+6281233528884';
      addData.value.RECEIVER_STOP_ID = v?.stops[1]?.stopId;
      addData.value.RECEIVER_NAME = 'samtech';
      addData.value.RECEIVER_PHONE_NO = '+628111893389';
      addData.value.POD = true;
      addData.value.SMS = true;
      addData.value.PARTNER_NAME = 'Samtech';
      addData.value.ORDER_ID = '69';
      addData.value.PHARMACY_NAME = 'ROXY';
      addData.value.HARGA = `${v?.priceBreakdown?.total} ${v?.priceBreakdown?.currency}`;
      onMakeOrder();
      firstLoad();
    },
    false,
  );
}

function onMakeOrder() {
  addDialog.value = true;
}

function onRequestOrder() {
  saveAdd((v) => {
    firstLoad();
    orderData.value = v;
  }, api.requestOrder);
}

async function firstLoad() {
  quotData.value.SENDER_ADDRESS = 'RT.1/RW.5, Cideng, Kecamatan Gambir, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta';
  quotData.value.SENDER_ADDRESS_LAT = '-6.1664500';
  quotData.value.SENDER_ADDRESS_LONG = '106.8079680';
  quotData.value.RECEIVER_ADDRESS = 'Jl. Tanjung Selor, RW.8, Cideng, Kecamatan Gambir, Kota Jakarta Pusat, Daerah Khusus Ibukota Jakarta 10150';
  quotData.value.RECEIVER_ADDRESS_LAT = '-6.1691449';
  quotData.value.RECEIVER_ADDRESS_LONG = '106.8033326';
  quotData.value.IS_SCHEDULED = false;
  getCity(apiOrderWithSDKClient.cities, {}, () => {}, false);
}
firstLoad();
</script>
