<template>
  <span class="dialog-footer">
    <el-button type="primary" @click="() => emit('save-click')">{{ saveText }}</el-button>
    <el-button type="danger" @click="() => emit('cancel-click')">{{ cancelText }}</el-button>
  </span>
</template>

<script setup>
defineProps({
  saveText: {
    type: String,
    default: 'Save',
  },
  cancelText: {
    type: String,
    default: 'Cancel',
  },
});
const emit = defineEmits(['save-click', 'cancel-click']);
</script>
