<template>
  <main>
    <AppLayout>
      <template v-slot:main-content>
        <router-view></router-view>
      </template>
      <template v-slot:side-bar>
        <LeftMenu></LeftMenu>
      </template>
      <template v-slot:not-auth>
        <router-view></router-view>
      </template>
    </AppLayout>
  </main>
</template>

<script setup>
//note: App.vue will called by vue first after main.js before any other page
//note: App.vue only called once
import AppLayout from './layouts/AppLayout.vue';
import LeftMenu from './components/menu/LeftMenu.vue';
import watchRoute from './router.change';
import { useRoute } from 'vue-router';
import { computed, watch } from 'vue';
//note: App.vue run first before router.beforeEach function in router/index.js
const route = useRoute();

const title = computed(() => route.meta.title);

if (title.value) document.title = `NGETEST LALAMOVE | ${title.value}`;

watch(title, (v) => {
  if (v) document.title = `NGETEST LALAMOVE | ${v}`;
});
watchRoute(route);
//if user is not authenticated ?
//router.beforeEach function in router/index.js will handle redirect
</script>
