<template>
  <div class="h-screen w-full bg-primary flex items-center justify-center relative">
    <div class="flex-1 flex-col gap-4 items-center justify-center h-full hidden lg:flex">
      <h1 class="text-4xl font-bold text-white">Agent Konsuldong</h1>
      <p class="text-white text-lg">KONSULDONG.COM</p>
    </div>
    <div
      class="w-full flex items-center justify-center max-w-[450px] flex-col m-5 rounded-lg p-5 bg-white lg:m-0 lg:h-full lg:rounded-none lg:w-1/2 lg:max-w-none"
    >
      <div class="max-w-[450px] w-full">
        <div class="h-[80px] lg:h-[120px] aspect-square m-auto overflow-hidden flex items-center justify-center">
          <!-- <img src="../../assets/img/troya.jpg" alt="" srcset="" /> -->
        </div>
        <p class="w-full text-center font-bold text-primary text-xs mb-5">KONSULDONG</p>
        <h1 class="w-full text-center text-3xl my-10 font-bold text-slate-700">LOGIN</h1>
        <el-form :model="loginData" :rules="rules.login" label-position="left" ref="loginForm" @submit.prevent="onSubmit" class="w-full">
          <div class="flex flex-col lg:gap-3">
            <el-form-item prop="USER_EMAIL">
              <el-input :prefix-icon="User" size="large" v-model="loginData.USER_EMAIL" placeholder="Username" />
            </el-form-item>
            <el-form-item prop="USER_PASSWORD">
              <el-input :prefix-icon="Lock" type="password" size="large" v-model="loginData.USER_PASSWORD" placeholder="Password" show-password />
            </el-form-item>
            <el-form-item class="mt-5">
              <el-button size="large" type="primary" native-type="submit" class="w-full">Login</el-button>
            </el-form-item>
            <div class="mt-10">
              <el-divider content-position="center" class="text-center">
                <p class="text-sm">KONSULDONG AGENT</p>
                <p class="text-sm">Versi {{ version }}</p>
              </el-divider>
            </div>
          </div>
        </el-form>
      </div>
    </div>
  </div>
  <div class="xs:hidden absolute top-0 right-0 w-full">
    <div class="w-[90%] lg:w-[85%] flex m-auto">
      <div class="h-[60px] font-bold flex items-center justify-center p-5">
        <h1 class="text-white text-xl tracking-wide">KONSULDONG AGENT</h1>
      </div>
      <div class="flex-1 h-[60px]"></div>
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { User, Lock } from '@element-plus/icons-vue';
import { useRouter } from 'vue-router';
import * as rules from '../../rules/auth.rules';
import envConfig from '../../helper/env.config';
import * as logic from './login-page';

const version = computed(() => envConfig.appVersion);
const router = useRouter();

const [loginData, loginForm, onSubmit] = logic.createLoginForm(router);
</script>
