<template>
  <el-container v-if="isAuth && path != '/login'">
    <el-aside>
      <slot name="side-bar"></slot>
    </el-aside>
    <el-container>
      <header-menu></header-menu>
      <el-main class="bg-gray-200 p-2 md:px-5">
        <div class="bg-white p-2 md:px-5 rounded shadow-sm">
          <slot name="main-content"></slot>
        </div>
      </el-main>
      <el-footer class="flex justify-end items-center h-7 text-xs tracking-widest shadow-cus text-gray-500 z-10 font-light">Version 0.0.1</el-footer>
    </el-container>
  </el-container>
  <div v-else>
    <slot name="not-auth"></slot>
  </div>
</template>

<script setup>
import HeaderMenu from '../components/menu/HeaderMenu.vue';
import { computed } from 'vue';
import { useStore } from 'vuex';
import { useRoute } from 'vue-router';
const store = useStore();
const route = useRoute();
const path = computed(() => route.path);
const isAuth = computed(() => store.getters.isAuth);
</script>

<style lang="scss" scoped>
.el-container {
  height: 100vh;
}
.el-aside {
  width: auto;
  background-color: $primary;
}
.shadow-cus {
  box-shadow: 2px -1px 5px -2px rgba(0, 0, 0, 0.40);
}
</style>
